@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-light-coffee: #c89f94;
  --font-karla: "Karla", sans-serif;
  --animate-slideDown: slideDown .5s ease-in-out;

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

/* ct = custom */
.ct-topmenu-expanded {
  @apply absolute top-10 z-50 w-full text-center bg-white animate-slideDown;
}

.ct-top-menu-item {
  @apply cursor-pointer py-1 hover:text-gray-800 relative lg:after:absolute lg:after:bottom-0 lg:after:left-0 lg:after:bg-light-coffee lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full lg:after:transition-all lg:after:ease-in-out lg:after:duration-300;
}

.ct-top-menu-item-active {
  @apply text-gray-800;
}

.ct-icon {
  @apply w-5 h-5 inline-block;
}

.ct-badge-circle {
  @apply text-sm text-center rounded-full px-1.5;
}
