@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-coffee-50:  #e8d6d8;
  --color-coffee-200:  #c89f94;
  --color-coffee-400:  #a25f4b;
  --color-coffee-600:  #744838;
  --font-karla: "Karla", sans-serif;
  --animate-slideDown: slideDown .5s ease-in-out;
  --animate-fadeIn: fadeIn .5s ease-in-out;

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

/* ct = custom */
.ct-topmenu-expanded {
  @apply absolute top-10 z-50 w-full text-center bg-white animate-slideDown;
}

.ct-top-menu-item {
  @apply cursor-pointer py-1 hover:text-gray-800 relative lg:after:absolute lg:after:bottom-0 lg:after:left-0 lg:after:bg-coffee-200 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full lg:after:transition-all lg:after:ease-in-out lg:after:duration-300;
}

.ct-top-menu-item-active {
  @apply text-gray-800;
}

.ct-icon {
  @apply w-5 h-5 inline-block;
}

.ct-badge-circle {
  @apply text-sm text-center rounded-full px-1.5;
}

.ct-subheadline {
  @apply flex justify-center items-center mb-24;
}

.ct-subheadline-deco-line {
  @apply w-8 h-px bg-gray-200;
}

.ct-subheadline-deco-label {
  @apply uppercase mx-4 tracking-widest text-gray-500 font-medium text-xs text-center;
}

.ct-button {
  @apply text-center uppercase tracking-wider py-4 px-8 text-[13px] font-semibold cursor-pointer hover:bg-white/90;
}